/* applies to anything of class "example-class-selector" */
.example-class-selector {
     margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/ */	
     color: #CC00AA;
}

.jumbotron {
     position: relative;
     background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

#nav-bar-title {
     text-align: center !important;
}

/* this is supposed to color our nav-bar green. */
.navbar-default {
     background-color: #9ad1b2 !important;
     border-color: #7ba78e !important;
}
.navbar-default .navbar-brand {
     color: #403f3f !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
     color: #ffffff !important;
}
.navbar-default .navbar-text {
     color: #403f3f !important;
}
.navbar-default .navbar-nav > li > a {
     color: #403f3f !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
     color: #ffffff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
     background-color: #9ad1b2 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
     color: #403f3f !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
     color: #ffffff !important;
     background-color: #7ba78e !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
     background-color: #7ba78e !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #ffffff !important;
     background-color: #7ba78e !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     color: #ffffff !important;
     background-color: #7ba78e !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
     color: #ffffff !important;
     background-color: #7ba78e !important;
}
.navbar-default .navbar-toggle {
     border-color: #7ba78e !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
     background-color: #7ba78e !important;
}
.navbar-default .navbar-toggle .icon-bar {
     background-color: #403f3f !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
     border-color: #403f3f !important;
}
.navbar-default .navbar-link {
     color: #403f3f !important;
}
.navbar-default .navbar-link:hover {
     color: #ffffff !important;
}

.navbar .navbar-inner {
     text-align: center !important;
}

.navbar .navbar-inner .nav {
     display:inline-block !important;
     margin: 0 auto !important;
}

@media (max-width: 767px) {
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
          color: #403f3f !important;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #ffffff !important;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
     .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
     .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
          color: #ffffff !important;
          background-color: #7ba78e !important;
     }
}

#groups-heading{
     background-color: #9ad1b2 !important;
     background-image:none; 
}

#groups-title{
     font-size: 45px;
     padding-bottom: 20px;
     padding-left: 70px;
}

#groups-button {
     font-size: 45px;
     width: 344px;
     border-color: #7ba78e;
     position: fixed; 
     bottom: 0px; 
     left: 0px; 
     margin-bottom: 0px;
}

#groups-button a {
     color: #ffffff;
}

#messages-heading {
     background-color: #9ad1b2 !important;
     background-image:none; 
}

#messages-title{
     font-size: 45px;
     padding-bottom: 20px;
     padding-left: 50px;
}

#messages-button {
     font-size: 45px;
     width: 340px;
     border-color: #7ba78e;
     position: fixed; 
     bottom: 0px; 
     right: 0px; 
     margin-bottom: 0px;
}

#messages-button a {
     color: #ffffff;
}

#send-bar {
     background-color: #9ad1b2;
     width: 340px;
}

#new-post-button {
/*../images/lorempixel.jumbotron.jpeg*/
     width: 200px;
     font-size: 30px;
     float: none;
     position: fixed; 
     top: 100px; 
     right: 45px; 
}

#new-post-button {
     width: 200px;
     font-size: 30px;
     float: none;
     position: fixed; 
     top: 100px; 
     right: 45px; 
}

#new-post-button a{
     width: 220px;
}

#new-post-button img{ 
     width: 200px;
     height: 200px;
     padding-left: 0px;
}


#new-post-button p {
     font-size: 40px;
     padding-left: 10px;

     font-weight: bolder;
     color: #d9d9d9;
}

#settings-button {
     background-color: #9ad1b2;
}


/* This is so that the nav bar does not cover up any of the page content.*/
body { padding-top: 50px; }

#bs-example-navbar-collapse-1{
     background: #9ad1b2 !important;
}

#navbar{
    background: #9ad1b2 !important;
}

#navbar p{
     color: #ffffff !important;
}
/*outlines the text in slightly darker green to make it easier to read white on green.*/
.white-on-green-text{
    text-shadow:
    -1px -1px 0 #73bf93,
    1px -1px 0 #73bf93,
    -1px 1px 0 #73bf93,
    1px 1px 0 #73bf93; 
}

.grey-on-white-text{
     text-shadow:
    -1px -1px 0 #cccccc,
    1px -1px 0 #cccccc,
    -1px 1px 0 #cccccc,
    1px 1px 0 #cccccc; 
}

.navbar-text{
     font-size: 20px !important;
     font-weight: bolder;
     color: #d9d9d9;
}



