<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SETTINGS</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>

<body>
  <div>
    <a href="/user/username">forward!</a>
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/sidemenu.js"></script>
  <script type="application/javascript" src="/assets/js/fastclick.js"></script>
</body>

</html>

