body, html{
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
}

#splash-wrapper {
	background: url('../splash-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#actual-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
}

#splash-navbar {
	background: rgba(0, 0, 0, 0);
	background-color: transparent;
	box-shadow: none;
	text-transform: uppercase;
	border: none;
}

#splash-navbar-brand {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#splash-navbar-options {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 18px;
	margin-bottom: 18px;
}

#splash-main-content {
	color: #fff;
	font-family: 'Lato', sans-serif;
}

#splash-main-content h1 {
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 35px;
}

#splash-main-content h2 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 1px;
	font-style: italic;
	margin-bottom: 35px;
}

#splash-navbar-logo {
	padding: 5px;
	margin-top: 10px;
}

#splash-navbar-form input {
	text-transform: uppercase;
	font-style: italic;
	font-size: 12px;
	letter-spacing: 2px;
	margin-right: 10px;
}

#splash-login-btn {
	background: rgba(0,0,0,0);
	border: 1px solid rgba(26, 188, 156,1.0);
	color: rgba(26, 188, 156,1.0);
	text-transform: uppercase;
}

#splash-login-btn:hover {
	background: rgba(26, 188, 156,1.0);
	color: #fff;
}

#splash-signup-btn {
	background: rgba(26, 188, 156,1.0);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	border-radius: 0;
}

#splash-signup-btn:hover {
	background: rgba(22, 160, 133,1.0);
}

.navbar-logo {
	height: 100%;
	width: auto;
}

.container-fluid {
	height: 100%;
	display: table;
	width: 100%;
	padding: 0;
	background: rgba(0,0,0,0.5);
}

.row-fluid {
	height: 100%;
	display: table-cell;
	padding-top: 15%;
}

.centering {
	float: none;
	margin: 0 auto;
}

#mobile-login-wrapper {
	background: rgba(0,0,0,0.5);
}


#mobile-login {
	visibility: hidden;
}

/* JOIN GROUP STUFF */

#login-modal-wrapper {	

	background: rgba(0,0,0,0.5);
	width:100%;
	height: 100%;
	padding-left: 50%;
	padding-top: 30%;
}

#login-modal{
	/*background-color: #fff;*/
	color: white;
	margin-left:-300px;
	margin-top: -200px;
	width:600px;
	height:400px;
	text-transform: uppercase;

	font-family: 'Lato', sans-serif;
}
#login-modal h2{
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 1px;
	font-style: italic;
	margin-top:45px;
	margin-bottom: 20px;
}

#login-modal h1{
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 35px;
}

#login-form div{
	display:table-cell;
	padding-left:20px;
}

#login-form input{
	height: 40px;

}


#login-form {
	display:table;
	margin-left:80px;
	width:400px;

}

#login-form button{
	background: rgba(26, 188, 156,1.0);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	border-radius: 0;
}

/* MEDIA QUERIES */

@media (max-width:768px) {

	#splash-main-content h1 {
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-bottom: 35px;
	}

	#splash-main-content h2 {
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
		font-style: italic;
		margin-bottom: 35px;
	}

	#splash-wrapper {
		width:100%;
		height:100%;
	}

	#mobile-login-wrapper {

		background: rgba(0,0,0,0.5);
		display: fixed;
		width:100% !important;
	}

	#mobile-login {
		visibility: visible;
		display: fixed;

		width: 100%;
	}

	#splash-navbar{
		visibility: hidden;
		padding-left: 20px;
	}

	#splash-navbar-form, #splash-login-btn, #splash-navbar-options {
		display: none;
		border: none;
	}


}