/* GENERAL */
body {
	overflow-x: hidden;
	margin-top: 50px;
}

/* TOP NAV BAR */
#navbar {
	margin: 0;
	background: #1abc9c;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #ecf0f1;
}

.glyphicon-pushpin,
.glyphicon-exclamation-sign { 
	margin-right: 7px;
	margin-left: 3px;
}

#new-group .col-xs-2{
	width: 120px;
}

#new-group li {
	float: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#new-group li h4 {
	color: #666;
	font-weight: 300;
}

h4.modal-title {
	color: #ecf0f1;
}

.modal-header {
	background: #16a085;
}

.modal-body,
.modal-footer {
	background:#eee;
}

#urgent-modal {
	float: left;
	position: fixed;
	left: 75%;
	top: 8%;
	margin-left: -375px;
	width: 400px;   
    display: inline-block; 
    box-shadow: none;
}

#urgent-modal .modal-content {
	box-shadow: none;
	border: 0px;
	width: 400px;   

}

#urgent-modal h4 {
	float: none;
	display: block;
}
#urgent-modal .btn {
	float:left;
}

#navbar a, #navbar p {
	color: #ecf0f1;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

#navbar-brand {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#navbar button {
	background: rgba(0, 0, 0, 0);
	background-color: transparent;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	box-shadow: none;
}



#navbar .dropdown-menu a {
	color: #666;
}

/* Hidden buttons on Navbar */
#navbar-button-sidemenu,
#navbar-button-sidemenu:active {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 15px;
	border: 1px solid transparent;
}

#navbar-button-settings,
#navbar-button-settings:active {
	border: 1px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
}

#navbar-button-sidemenu:hover,
#navbar-button-sidemenu:focus,
#navbar-button-settings:hover,
#navbar-button-settings:focus {
	background: #16a085;
}

/* SITE CONTENT */

#site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 5000px;
}

#main-content {
	margin-left:  250px;
/*	margin-right: 250px;*/
	padding-top: .5em;
	max-width: 768px;
	padding-left: 42px;
	padding-right: 42px;

}

/* POSTS */
#card-stack .card {
	position: static;
	border-radius: 5px;
	/*border-color: #2AEB3E;*/
	/*border-color: #1abc9c;*/
	border-color: #dbdbdb;
	border-width: thin;
	border-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 14px 28px;
/*	margin: 3em; */
	margin-top: 40px;
	margin-bottom: 40px;
}

#pin-stack {
	width: 100%;
	max-height: 600px;
	overflow-y: scroll;
}

#pin-stack .card {
	border-radius: 5px;
	border-style: solid;
	/*border-color: #2AEB3E;*/
	border-color: #1abc9c;

	border-width: 3px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 14px 28px;
/*	margin: 3em; */
	margin-top: 40px;
	margin-bottom: 40px;
}

#date {
	color: #90949c;
	font-size: 12px;
}

#pin {
	width: 20px;
	margin-right: 10px;
}

.card span {
	font-size: 20px;
}

.card .glyphicon-exclamation-sign {
	margin-left: 0px;
	font-size: 15px;
}

.timeStamp {
	font-size: 0;
}

.post-options button {
	background: rgba(0, 0, 0, 0);
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding: 2px;
}

#make-post-bar {
/*	padding-left: 3em;
	padding-right: 3em;*/
}

#check-box {
	font-size: 12;
	float:right;

}

#post-btn {
	margin: 1em;
	position:relative;
	background-color: #1abc9c;
	color: white;
	position:relative;
	display: inline;
}

.close {
	font-size: 30px;

}

/* SIDEBAR */

#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	padding: 10px;
  	background:#eee;
}

#sidebar-wrapper h2 {
  position: relative;
  padding-left: 15px;
  color:#666;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
} 

#sidebar-wrapper h1 {
  position: relative;
  padding-left: 15px;
  color:#666;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sidebar-wrapper p {
  position:relative;
  padding-left:20px;
  color:#666;
  font-size:14px;
  font-weight:300;
  margin-bottom:30px;
}

#team-name {
	width:100%;
	overflow-wrap: break-word;
	font-size: 25px; 
	color: #879096;
}

#group-logo {
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.sidebar-nav {
  position:relative;
  width:250px;
  margin:0;
  padding:0;
  list-style:none;
}

.sidebar-nav li {
  text-indent:30px;
  line-height:30px;
  color:#666;
  text-transform:uppercase;
  font-weight:400;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
}

#share-btn {
	background-color:#1abc9c;
	color: white;
	margin-left:50px;
	margin-top: -20px;
}
	
.link-share {
	text-align: center;
}


/* NEW ACCOUNT PAGE */
#new-account-wrapper,
#settings-wrapper {
	width: 100%;
	height: 5000px;
	padding: 10px;
	margin-left: 50%;
}

.pw-form{
	margin-top: 10px;
}

#new-account-content,
#settings-content {
	width: 400px;
	margin-left: -200px; 
}

#new-account-content h4,
#settings-content h4 {
	text-align: center;
	font-size: 35px; 
	margin-top: 40px;
	margin-bottom: 40px;
}

#new-account-content label,
#settings-content label {
	text-align: left;
	margin-top: 15px;
}

#new-account-content button,
#settings-content button {
	position:relative;
	background-color: #1abc9c;
	border: none;
	color: white;
	margin-top: 20px;
	margin-left: 40px;
	width: 125px;
}

/* FOR TESTING PURPOSES ONLY */


/* MEDIA QUERIES */

@media (max-width:768px) {


	#hidden-navbar-option {
		display: none;
	}

	#site-canvas {
		width: 100%;
		height: 100%;
		position: relative;
		
		-moz-transform: translate3d(0, 0, 0);
			-ms-transfrom: translate3d(0, 0, 0);
				-o-transform: translate3d(0, 0, 0);
					-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);

		-moz-transition: 300ms ease all;
			-ms-transition: 300ms ease all;
				-o-transition: 300ms ease all;
					-webkit-transition: 300ms ease all;
						transition: 300ms ease all;
		
		-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
				-o-backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
	}

	#main-content {
		margin-left: 0;
		margin-right: 0;
	}

	#sidebar-wrapper {
		left: -250px;
	}

	#site-wrapper.show-nav #site-canvas {

		-moz-transform: translate3d(250px, 0, 0);
			-ms-transfrom: translate3d(250px, 0, 0);
				-o-transform: translate3d(250px, 0, 0);
					-webkit-transform: translate3d(250px, 0, 0);
						transform: translate3d(250px, 0, 0);

	}
}